{% extends "_base.html" %}

{% block title %} Developers list {% endblock title %}

{% block content %}

<div class="cnt">
    <h2>Developers list</h2>
    
    {% if developers %}
    <div class="scrl">
        {% for dev in developers %}
        <a class="list-group-item list-group-item-action" href="{% url 'developer:detail' dev.id %}">{{ dev.first_name }} {{ dev.last_name }}</a>
        {% endfor %}
    </div>
    {% else %}
    <p><strong>There's no student subscribed!</strong></p>
    {% endif %}

    <!-- form to add a new developer -->
    <form action="{% url 'developer:add' %}" method="post" class="ps-3">
        {% csrf_token %}
        {{ form.first_name }}
        {{ form.last_name }}
        <button type="submit" type="button">Add user</button>
    </form>


</div>

{% endblock content %}